<!doctype html>
<title>Site Under Construction</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none;}
  img{display: block; margin-left: auto; margin-right: auto; width: 50%}
</style>

<article>
    <body style="background-color:grey;">
        <h1><img src="images/MediumBanner.png" class="center"/></h1>
        <h1>Site Under Construction</h1>
        <div>
            <p>Sorry for the inconvenience but I&rsquo;m performing some maintenance at the moment. If you need to you can always <a href="https://fleming.systems/contactme">contact me</a>, by filling out the form at the link.</p>
            <p>&mdash; Tyler Fleming</p>
        </div>
    </body>
</article>